# Ignore the stupid netrwhist file
vim/.netrwhist

#Ignore undodir from other machines
vim/undodir/*
vim/backup/*
vim/swp/*

#Ignore vitunes...
vim/plugin/vitunes.vim

# Ignore OS X's silly DS_Store
.DS_Store

# Ignore swap files
*.swp
*~
