# Ignore the stupid netrwhist file
vim/.netrwhist

# Ignore undodir from other machines
vim/undodir/*
vim/backup/*
vim/swp/*
vim/bundle
vim/view

# Ignore local scratch file
scratch

# Ignore OS X's silly DS_Store
.DS_Store

# Ignore swap files
*.swp
*~

# Ignore files created by Powerline
vim/Powerline_default_default_compatible.cache
vim/Powerline_default_default_fancy.cache
